/* === PREDEFINIÇÕES === */
html { font-size: calc(1em + 1vw); }


/* === BREAKPOINTS === */
@media all and (max-width: 1199px) { ... } 
@media all and (max-width: 480px) { ... }


/* HEADER */
header {
	background: linear-gradient(rgba(000, 000, 000, 0.5), rgba(86, 86, 86, 0.3)), url(../img/fundo-banner.png) center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center-top;
	padding-bottom: 20vh;
}

header nav {
	display: flex;
	border-bottom: 1px solid #827a7a;

}

header nav img {
	padding: 2vh 27vw 2vh 15vw;
}
header nav ul {
	display: flex;
	padding-top: 5vh;
}

header nav ul li {
	padding-right: 2vw;
}

header nav ul li a{
	text-decoration: none;
	font-size: 0.5em;
	font-family: Arial;
	color:white;
}

header h1{
	text-align: center;
	padding-top: 30vh;
	font-family: Arial;
	font-size: 3em;
	font-weight: bold;
	color: white;
}

header p{
	text-align: center;
	color: #17688D;
	font-size: 0.8em;
	justify-content: space-between;
	padding-bottom: 15vh;
	letter-spacing: 0.6vw;
}

/* IMAGENS */
section.imagens{
	background:white;
	justify-content: center;
	padding-right: 10vw;
	padding-left: 10vw;
}

section.imagens h2{
	text-align: center;
	padding-top: 8vh;
	padding-bottom: 6vh;
	font-weight: bold;
}

section.imagens p.subtitulo{
	text-align: center;
	padding-bottom: 8vh; 
}

section.imagens ul{
	display: flex;
	justify-content: center;
	
}
section.imagens h3{
	text-align: center;
	font-size: 0.6em;
	font-weight: bold;
	padding-bottom: 2vh;
	color: #17688D;
}
section.imagens p{
	font-size: 0.7em;
	padding: 0 4vw 0 4vw;
	text-align: center;
	padding-bottom: 8vh;
}

section.imagens ul li img{
	padding-left: 4vw;
	padding-bottom: 2vh;
}

/* IMAGENS */

section.data{
	background: #0f0c0c;
	display: flex;
}

section.data ul {
	color: white;
	display: flex;
}

section.data ul li p {
	font-size: 0.5em;
	border-left: 1px solid white;
	padding-right: 0.5vw;
	padding-left: 0.5vw;
	font-family: Arial;
}

section.data ul li p.semborda{
	border: none;
}

section.data div{
	padding-right: 7vw;
	padding-left: 7vw;
	padding-top: 10vh;
	text-align: left;
	box-sizing: border-box;
}
section.data div h2{
	color:white;
	font-weight: bold;
	padding-top:2vh;
	padding-bottom: 2vh;
	font-family: Arial;
}

section.data div p{
	color: white;
	font-size: 0.5em;
	line-height: 20px;
}

section.data div p.txt1{
	padding-bottom: 2vh;
}

/* AZUL */

section.azul{
	background: #12739E;
	padding: 10vh 15vw 10vh 15vw;
}

section.azul ul{
	display: flex;
}
section.azul ul li {
	display: flex;
}

section.azul ul  li p{
	font-size: 0.5em;
	padding-right: 6vw;
	padding-left: 3vw;
	padding-top: 3vh;
	color:white;
	line-height: 20px;
	font-family: Arial;
}

section.azul ul li img{
	width: 50%;
	height: 60%;
	padding-top: 3vh
}


/* FORMULARIO */
section.formulario{
	background: linear-gradient(rgba(86, 86, 86, 0.3), rgba(86, 86, 86, 0.3)), url(../img/fundo-contato.jpg) center center;
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 30vh;
}

section.formulario h1{
	text-align: center;
	font-weight: bold;
	font-family: Arial;
	padding-top: 15vh;
	color: white;
	font-size: 0.7em;
}

section.formulario form{
	padding-top: 15vh;
	padding-left: 30vw;
}

section.formulario form input{
	padding: 1vh 1vw 1vh 1vw;
	border: 1px solid white;
	margin-bottom: 2vh;
	background:transparent;
	color:white;
}

section.formulario form textarea{
	padding:  1vh 26.7vw 15vh 1vw;
	background:transparent;
	color:white;
}

section.formulario p{
	text-align: center;
	padding-top: 3vh;
	font-size: 0.6em;
	color: white;
}

section.formulario p.botao a{
	border-radius: 0.1vw;
	background-color: #12739e;
	padding: 1vh 2vw 1vh 2vw;
	text-decoration: none;
	color: white;
}


/* FOOTER */
footer{
	background: black;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

footer p{
	text-align: center;
	color:white;
	font-size: 0.4em;
	font-family: Arial;
}


/* RESPONSIVIDADE */

@media all and (max-width: 480px) { ...
	header{
		display: block;
		background-size: 0;
	}
	header nav img{
		padding-left: 34vw;
	}
	header ul {
		display: block;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	header nav {
		display: block;
		padding: 0 5vw 0 5vw;
		font-size: 1.1em;
	}
	header nav ul{
		padding: 0 0 2vh 0;
	}

	header nav ul li{
		padding: 0 2vw 0 0;
	}

	section.imagens {
		display: block;
	}

	section.imagens ul {
		flex-wrap: wrap;
	}

	section.data{
		display: block;
		flex-wrap: wrap;

	}
	
	

	section.data div ul li p{
		border:none;
	}

	section.data div h2{
		padding-top: 1vh;
	}

	section.data img{
		flex-wrap: wrap;
		width: 100%;

	}

	section.data p {
		padding-bottom: 5vh;
	}
	
	section.azul ul{
		display: block;
	}	

	section.formulario {
		display: block;
		background-size: cover;
	}

	section.formulario form{
		padding-left: 25vw;
	}
	
	section.formulario form textarea{
	padding:  1vh 5vw 15vh 1vw;
	}

	footer p{
		font-size: 0.5em;
	}
}
